{% extends 'base.html' %}

{% block title %}A propos{% endblock %}

{% block content %}
<main class="container my-5">
    <section class="text-center mb-5">
        <h2 class="fw-bold mb-3">Qui sommes-nous ?</h2>
        <p class="fs-5">
            Chez <strong>Congo Bowl</strong>, nous avons une mission : faire découvrir au monde la richesse et les saveurs uniques 
            de la gastronomie congolaise. Né d’une passion familiale, notre concept vise à partager une partie de notre culture 
            à travers des plats authentiques, préparés avec soin et amour.
        </p>
    </section>

    <section class="text-center mb-5">
        <h2 class="fw-bold mb-3">Notre Histoire</h2>
        <p class="fs-5">
            Congo Bowl, c’est l’histoire d’une famille congolaise qui a décidé de célébrer ses racines et de les mettre en lumière 
            à travers un concept culinaire moderne et chaleureux. Inspirés par les recettes traditionnelles transmises de génération 
            en génération, nous avons créé un espace où chacun peut savourer la richesse de nos plats, qu’il s’agisse de classiques 
            emblématiques ou de créations revisitées avec une touche contemporaine.
        </p>
    </section>

    <section class="text-center mb-5">
        <h2 class="fw-bold mb-3">Un Voyage Culinaire au Cœur du Congo</h2>
        <p class="fs-5">
            Chaque bol servi raconte une histoire, celle d’une cuisine généreuse et conviviale, riche en épices, en saveurs 
            et en histoire. Nos ingrédients sont soigneusement sélectionnés pour offrir une expérience authentique et inoubliable, 
            mettant à l’honneur la diversité culinaire du Congo.
        </p>
    </section>

    <section class="text-center">
        <h2 class="fw-bold mb-3">Pourquoi Congo Bowl ?</h2>
        <p class="fs-5">
            Nous croyons que la nourriture est un moyen de rassembler les gens, de briser les frontières et de célébrer les différences 
            culturelles. Avec Congo Bowl, nous souhaitons vous faire voyager, une bouchée à la fois, et vous offrir un aperçu de la chaleur 
            et de l’accueil qui caractérisent notre culture.
        </p>
        <p class="fs-5">
            Rejoignez-nous dans cette aventure gourmande et laissez-vous séduire par la magie de la cuisine congolaise. Que vous soyez à 
            la recherche de nouvelles saveurs, curieux d’explorer une autre culture, ou simplement en quête d’un repas réconfortant, 
            Congo Bowl est là pour vous accueillir avec le sourire.
        </p>
        <p class="fs-5"><strong>Bienvenue chez nous, et bon appétit !</strong></p>
    </section>
</main>
{% endblock %}